@import "tailwindcss";
/* Aileron - Thin */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Ultra Light */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Light */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Regular */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Semi Bold */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Bold */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Heavy */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Aileron - Black */
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('../fonts/aileron/Aileron-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Light */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Regular */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Medium */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Semi Bold */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Bold */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Season Serif - Heavy */
@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Season Serif';
  src: url('../fonts/Season-serif/SeasonSerif-TRIAL-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

body{font-family: 'Aileron', sans-serif;}
h1, h2, h3, h4, h5, h6, .accordion-title{font-family: 'Season Serif', serif;}
.testimonial-shadow{box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);}
.swiper {width: 100%; height: 100%;}
.swiper-slide {text-align: center; font-size: 18px; background: #444; display: flex; justify-content: center; align-items: center; border-radius: 25px;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}
.footer-main{background: url("../img/LMR.png") no-repeat center center /contain;}