@import "tailwindcss";

/* .client-list-main li{vertical-align: middle;} */
/* .client-list-main{columns: 6; column-count: 6; column-gap: 90px} */
/* .client-list-main li:nth-child(6n){margin-right: 0;} */
/* .client-list-main li:nth-child(n + 7){margin-top: 80px;} */